{% extends 'base.html' %}

{% block content %}

<div class="auth-card">

```
<div class="guide-card">

    <img
    src="https://cdn-icons-png.flaticon.com/512/4140/4140048.png"
    width="120">

    <h2>Welcome to SkillSwap!</h2>

    <p>
    I'm SkillBot 🤖
    <br>
    Let's create your account.
    </p>

</div>

<h1>Create Account</h1>

<form method="POST">

    {% csrf_token %}

    <h3>Username</h3>
    {{ form.username }}

    {% if form.email %}
    <h3>Email</h3>
    {{ form.email }}
    {% endif %}

    {% if form.password1 %}
    <h3>Password</h3>
    {{ form.password1 }}
    {% endif %}

    {% if form.password2 %}
    <h3>Confirm Password</h3>
    {{ form.password2 }}
    {% endif %}

    <h3>Skills I Can Teach</h3>
    {{ form.teach_skills }}

    <h3>Skills I Want To Learn</h3>
    {{ form.learn_skills }}

    <br><br>

    <button
    type="submit"
    class="btn btn-success">

        Join SkillSwap

    </button>

</form>

<br>

<a href="{% url 'login' %}">
    Already have an account?
</a>
```

</div>

{% endblock %}
