{% extends 'base.html' %}

{% block content %}

<h1>Explore Matches</h1>

<form method="GET">
    <input
        type="text"
        name="q"
        value="{{ query }}"
        placeholder="Search skills or users">

    <button type="submit">
        Search
    </button>
</form>

<hr>

{% if matches %}

    {% for match in matches %}

        <p>
            <strong>{{ match.user.username }}</strong>
            teaches
            <strong>{{ match.skill.name }}</strong>
        </p>

        <a href="{% url 'send_request' match.id %}">
            Send Request
        </a>

        <hr>

    {% endfor %}

{% else %}

    <p>No matches found.</p>

{% endif %}

{% endblock %}